.friend-list {
  width: 300px;
  margin: 50px auto;
}

.item {
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar {
  border-radius: 2px;
  margin-right: 15px;
}

.status.isOffline {
  background-color: #d42323;
}
.status.isOnline {
  background-color: #387812;
}
.name {
  font-size: 22px;
}