.transaction-history {
  text-align: center;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #1a1919;
  border-collapse: collapse;
}

.table-row {
  border: 1px solid #1a1919;
  height: 30px;
}
.table-row:nth-child(2n) {
  background: #e8edff;
}
.table-header,
.table-td {
  border: 1px solid #1a1919;
}